{% extends 'index.html' %}
{% block body %}

<div class="container">
<form id="form1" name="form1" method="post" action="/admin_add_notification_post">
  <table class="table">
    <tr>
      <td>Notification</td>
      <td>
        <input type="text" name="textfield"  class="form-control" required/>
    </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><label>
        <div align="center">
          <input type="submit" name="Submit" value="add"  class="btn btn-outline-success"/>
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}