{% extends 'admin/admintemp.html' %}
{% block body %}
<body>
{#<a href="/admin_add_festval">add festval</a><br>#}
{#<a href="/admin_add_notification">add notification</a><br>#}
{#<a href="/admin_admin_send_reply">admin send reply</a><br>#}

{#<a href="/admin_view_and_approval_of_kudumbasree">view and approval of kudumbasree</a><br>#}
<a href="/admin_view_approved_kudumbasree">view approved kudumbasree</a><br>
{#<a href="/admin_view_complaints_and_send_reply">view complaints amd send reply</a><br>#}
{#<a href="/admin_view_complaints_from_users_about_kudumba">Complaint About kudumbasree</a><br>#}
{#<a href="/admin_view_feedback">view feedback</a><br>#}
{#<a href="/admin_view_festival">view festival</a><br>#}
{#<a href="/admin_view_notification">view notifiaction</a><br>#}
{#<a href="/admin_view_rate_and_review">view rate and review</a><br>#}
</body>
{% endblock %}