{% extends 'index.html' %}
{% block body %}

<DIV class="container">
<form id="form1" name="form1" method="post" action="/admin_view_complaints_and_send_reply_post">
  <table class="pull-right">
    <tr>
      <td width="68">Date from </td>
      <td width="4">&nbsp;  <input type="date" name="textfield"  required/></td>
      <td width="50">Date to </td>
      <td width="4">&nbsp;  <input type="date" name="textfield2"  required/>  </td>
      <td width="60"><label> 
        <input type="submit" name="Submit" value="go"  class="btn btn-outline-info"/>
      </label></td>
    </tr>
  </table>
  <table class="table table-bordered">
    <tr>
      <td>sno</td>
      <td>usre no </td>
      <td>complaint</td>
      <td>date</td>
      <td>reply</td>
    </tr>
{% for i in data %}
    <tr>
      <td>{{ loop.index }}&nbsp;</td>
      <td>{{ i["name"] }}<br>{{ i["email"] }}</td>
      <td>{{ i['complaint'] }}&nbsp;</td>
      <td>{{ i['date'] }}&nbsp;</td>
      <td>
            {% if i['reply'] == 'pending' %}
          <a href="/admin_send_reply/{{ i['uc_id'] }}" class="btn btn-outline-primary">reply</a>
        {% else %}
          {{ i['reply'] }}
          {% endif %}
      </td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
</DIV>
{% endblock %}
