{% extends 'index.html' %}
{% block body %}

<div class="container">

<form id="form1" name="form1" method="post" action="/admin_view_festival_post">
  <table class="pull-right">
    <tr>
      <td>Date from </td>
      <td><label>
        <input type="date" name="textfield" />
      </label></td>
      <td>Date to </td>
      <td><label>
        <input type="date" name="textfield2" />
      </label></td>
      <td><label>
        <input type="submit" name="Submit" value="go"  class="btn btn-outline-primary"/>
      </label></td>
    </tr>
  </table>
  <table class="table table-bordered">
    <tr>
      <td>sno</td>
      <td>name</td>
      <td>desciption</td>
      <td>date</td>
      <td>&nbsp;time</td>
        <td></td>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ loop.index }}&nbsp;</td>
      <td>{{ i['name'] }}</td>
      <td>{{ i['description'] }}&nbsp;</td>
      <td>{{ i['date'] }}&nbsp;</td>
        <td>{{ i['time'] }}</td>
      <td><p><a href="/edit_festival/{{i["fest_id"]}}"  class="btn btn-outline-info">edit</a></p>
      <p><a href="/admin_delete_festival/{{i["fest_id"]}}" class="btn btn-outline-danger">delete</a></p></td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
</div>
</body>
{% endblock %}
