{% extends 'kudumbasree/index.html' %}
{% block body %}
    <div class="container">
<form id="form1" name="form1" method="post" action="/kudumbasree_add_advertisement_post" enctype="multipart/form-data">


  <table class="table ">
   <tr>
      <td>Date</td>
      <td>
          <input type="date" name="textfield"  class="form-control" required/>
      </label></td><br>
    </tr>
   <tr>
      <td>Description</td>
      <td>
          <input type="name" name="textfield1"  class="form-control" required/>
      </label></td><br>
    </tr>
     <tr>
      <td>image</td>
      <td>
          <input type="file" name="textfield2"  class="form-control" required/>
      </label></td>
     </tr>
      <tr>

   <td><label>
        <div align="center" >
          <input type="submit" name="Submit" value="add" class="btn btn-outline-success" />
          </div>
      </label></td>
  </table>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</form>
{% endblock %}