{% extends 'kudumbasree/index.html' %}
{% block body %}
    <div class="container">
<form action="/kudumbasree_add_fin_report_post" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <label class="table">
     <tr>
      <td>Date</td>
      <td>
          <input type="date" name="textfield3"  class="form-control" required/>
      </label></td><br>
  </label></td>
</tr>
 <tr>
      <td>Description</td>
      <td>
          <input type="text" name="textfield2" class="form-control" required/>
      </label></td><br>
    </tr>

<tr>
      <td>Documents</td>
      <td>
          <input type="file" name="textfield2" class="form-control" required/>
      </label></td><br>
    </tr>


 <tr><br>
        <td></td><label>
        <div align="left">
          <input type="submit" name="Submit" value="add" class="btn btn-success" />
          </div>
      </label></td><br>
    </tr>
  </table>
</form>
    </div>
{% endblock %}
