<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<br>

<a href="/kudumbasree_add_product">add_product</a><br>
<a href="/kudumbasree_view_product">view_product</a><br>
<a href="/kudumbasree_view_notification">view_notification</a><br>
<a href="/kudumbasree_view_complaint">view_complaint</a><br>
<a href="/kudumbasree_add_fin_report">add_financial_report</a><br>
<a href="/kudumbasree_view_fin_report">view_financial_report</a><br>
<a href="/kudumbasree_view_festival">view_festival</a><br>
<a href="/kudumbasree_add_advertisement">add_advertisement</a><br>
<a href="/kudumbasree_view_booking">view_booking</a><br>
</body>
</html>